<!DOCTYPE HTML>
<html>
<head>
    <title>SimpleMessage - 인증절차</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 login-wrap">
            <form action="/auth">
                <blockquote class="blockquote">
                    <img class="logo" src="image/logo.png" alt="로고">
                    <footer class="blockquote-footer">로그인 후 문자발송페이지로 이동 합니다.</footer>
                </blockquote>
                <div class="form-group">
                    <input type="submit" value="솔라피 로그인" class="btn btn-block btn-primary"/>
                </div>

                <input type="hidden" value="<%= state %>" name="state">
                <input type="hidden" value="<%= redirectUri %>" name="redirect_uri">
                <input type="hidden" value="<%= scope %>" name="scope">
            </form>
        </div>
    </div>
</div>
</body>
</html>
