<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>쿨에스엠에스로 로그인</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<form method="get" action="https://rest.test.coolsms.co.kr/oauth2/v1/authorize">
    <input type="hidden" class="form-control" name="client_id" id="client_id" value="CIDPL49TEFPSPLZS">
    <input type="hidden" class="form-control" name="response_type" id="response_type" value="code">
    <input type="hidden" class="form-control" name="scope" id="scope" value="users:read">
    <input type="hidden" class="form-control" name="redirect_uri" id="redirect_uri" value="http://192.168.31.128/authorize">
    <input type="hidden" class="form-control" name="state" id="state" value="state">
    <input type="submit" class="btn" value="쿨에스엠에스로 로그인">
</form>
</body>
</html>
