<html>
  <head>
  <title>title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <form method="get" action="https://rest.coolsms.co.kr/oauth2/v1/authorize">
    <input type="text" placeholder="client_id" name="client_id" value="CIDRWEKR9TSFDKO2" />
    <input type="text" placeholder="response_type" value="code" name="response_type" />
    <input type="text" placeholder="scope" value="users:read" name="scope" />
    <input type="text" placeholder="redirect_uri" name="redirect_uri" value="http://192.168.31.128/authorize" />
    <input type="text" placeholder="state" value="test" name="state" />
    <input type="submit" value="로그인" />
  </form>
  </body>
</html>