<html>
  <head>
  <title>title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <form method="post" action="http://192.168.31.128/send">
    <input type="text" placeholder="발신번호" value="01029951047" name="from" />
    <input type="text" placeholder="수신번호" value="01029951047" name="to" />
    <input type="text" placeholder="내용" value="Hello world!" name="text" />
    <input type="submit" value="발송" />
  </form>
  </body>
</html>