.send-container {
    width: 100%;
    max-width: 350px !important;
    margin-top: 20vh !important;
}

.container {
    width: 100%;
    margin-top: 4vh;
}

.login-area {
    padding-top: 40vh;
}

@media (max-width: 780px) {
    .login-area {
        padding-top: 10vh;
    }
}

.login-wrap {
    position: absolute;
    text-align: center;
}

.login-wrap form {
    height: 200px;
}

.text-align {
    text-align: center;
}

.login-form {
    margin-top: 35px;
    margin-bottom: 35px;
}

.login-wrap input[type=button] {
    background-color: #43a047;
}

.login-wrap input[type=submit]:hover {
    color: #ffffff;
}

.btn {
    display: block;
    width: 300px;
    color: #ffffff !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.title {
    margin-bottom: 2vh;
}

